PORT=4174
APP_ORIGIN=http://127.0.0.1:4174
UPLOAD_MAX_BYTES=1073741824
WHISPER_MODEL=medium.en

GMAIL_FROM=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_DRIVE_FOLDER_ID=
GOOGLE_DRIVE_SHARE_ANYONE='true'
